@font-face {
    font-family: 'iconfont';
    /* project id 558148 */
    src: url('//at.alicdn.com/t/font_558148_ni7bgjo81o.eot');
    src: url('//at.alicdn.com/t/font_558148_ni7bgjo81o.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_558148_ni7bgjo81o.woff2') format('woff2'), url('//at.alicdn.com/t/font_558148_ni7bgjo81o.woff') format('woff'), url('//at.alicdn.com/t/font_558148_ni7bgjo81o.ttf') format('truetype'), url('//at.alicdn.com/t/font_558148_ni7bgjo81o.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
}

.icon-yuyinshibie::before {
    content: '\e723';
}

.icon-zhibohuifang::before {
    content: '\e7e0';
}

.icon-zhibohome::before {
    content: '\e638';
}

.icon-qrcode::before {
    content: '\e722';
}

.icon-zhibozhong::before {
    content: '\e719';
}

.icon-zhibofenxiang::before {
    content: '\e718';
}

.icon-daihuoweixuanze::before {
    content: '\e60f';
}

.icon-newshareicon::before {
    content: '\e715'
}

.icon-daojishi::before {
    content: '\e712'
}

.icon-shangpindianzan::before {
    content: '\e711'
}

.icon-yipindanrenshu::before {
    content: '\e70f'
}

.icon-weishoucang::before {
    content: '\e70e'
}

.icon-yishoucang::before {
    content: '\e704'
}

.icon-pjxingxinghuang::before {
    content: '\e703'
}

.icon-pjxingxingbai::before {
    content: '\e702'
}

.icon-newtipsbufahuo::before {
    content: '\e707'
}

.icon-fahuotimeicon::before {
    content: '\e69e'
}

.icon-yunfeiicon::before {
    content: '\e69b'
}

.icon-bufahuoicon::before {
    content: '\e69d'
}

.icon-fromfahuo::before {
    content: '\e6b4'
}

.icon-peisongicon::before {
    content: '\e69c'
}

.icon-newbaoyouicon::before {
    content: '\e69f'
}

.icon-cuxiangyou::before {
    content: '\e6f2';
}

.icon-haoyouadd::before {
    content: '\e70a';
}

.icon-haoyouliebiao::before {
    content: '\e708';
}

.icon-newshaixuan::before {
    content: '\e6f1';
}

.icon-huore::before {
    content: '\e6f0';
}

.icon-quanping::before {
    content: '\e6ff';
}

.icon-qingchu::before {
    content: '\e6ef';
}

.icon-tipsjaizai0::before {
    content: '\e6ee';
}

.icon-tipsjaizai1::before {
    content: '\e721';
}

.icon-tipsjaizai0 {
    display: inline-block;
    margin-right: 4rpx;
    animation: gogogo 1.3s linear infinite;
    color: #888
}

.icon-tipsjaizai1 {
    display: inline-block;
    margin-right: 4rpx;
    animation: gogogo 1.3s linear infinite;
    color: #888
}

.icon-tipsjaizai2::before {
    content: '\e6ed';
}

.icon-tipsjaizai2 {
    display: inline-block;
    margin-right: 4rpx;
    animation: gogogo 1s linear infinite;
    color: #888
}

.icon-tipskabao::before {
    content: '\e6ec';
}

.icon-tipsquanquan::before {
    content: '\e60f';
}

.icon-shareNew::before {
    content: '\e6eb';
}

.icon-nomore::before {
    content: '\e6e9';
}

.icon-guanjun::before {
    content: '\e6e7';
}

.icon-yajun::before {
    content: '\e6e6';
}

.icon-jijun::before {
    content: '\e6e8';
}

.icon-bgrenyuan::before {
    content: '\e6df';
}

.icon-shenhetime::before {
    content: '\e714';
}

.icon-wanchengr::before {
    content: '\e6dc';
}

.icon-roundzfb::before {
    content: '\e6da';
}

.icon-ispen::before {
    content: '\e6db';
}

.icon-ismessage::before {
    content: '\e6d9';
}

.icon-isphone::before {
    content: '\e633';
}

.icon-atime::before {
    content: '\e8a9';
}

.icon-ajinggao::before {
    content: '\e6d8';
}

.icon-renminbi::before {
    content: '\e76d';
}

.icon-city::before {
    content: '\e6d5';
}

.icon-tips::before {
    content: '\eb7e';
}

.icon-discover::before {
    content: '\e6d0';
}

.icon-Reportform::before {
    content: '\e6d1';
}

.icon-mines::before {
    content: '\e6d2';
}

.icon-order1::before {
    content: '\e620'
}

.icon-order2::before {
    content: '\e688'
}

.icon-order3::before {
    content: '\e669'
}

.icon-order4::before {
    content: '\e622'
}

.icon-order5::before {
    content: '\e635'
}

.icon-point::before {
    content: '\e6cf'
}

.icon-unselected::before {
    content: '\e63e'
}

.icon-bgselected::before {
    content: '\e6dd'
}

.icon-selected::before {
    content: '\e691'
}

.icon-signal::before {
    content: '\e6a0'
}

.icon-success::before {
    content: '\e625'
}

.icon-correct::before {
    content: '\e7a1'
}

.icon-addddd::before {
    content: '\e698'
}

.icon-filterupdown::before {
    content: '\e6f7'
}

.icon-whatshot::before {
    content: '\e6fb'
}

.icon-toTop::before {
    content: '\e696'
}

.icon-text-copy::before {
    content: '\e706'
}

.icon-downdown::before {
    content: '\ebcc'
}

.icon-mine::before {
    content: '\e693'
}

.icon-minefill::before {
    content: '\e68f'
}

.icon-tiktopMoreJubao::before {
    content: '\e684'
}

.icon-tiktopMoredownLoad::before {
    content: '\e683'
}

.icon-tiktopMore::before {
    content: '\eb30'
}

.icon-tiktopAttention::before {
    content: '\e681'
}

.icon-tiktop::before {
    content: '\e680'
}

.icon-createCenter::before {
    content: '\eb99'
}

.icon-xcmy1::before {
    content: '\e67a'
}

.icon-xcmy2::before {
    content: '\e679'
}

.icon-xcmy3::before {
    content: '\e67e'
}

.icon-xcmy4::before {
    content: '\e67d'
}

.icon-fullScreen::before {
    content: '\e676'
}

.icon-reorder::before {
    content: '\e673'
}

.icon-download::before {
    content: '\e672'
}


/*5个图标  用于 撰写文章 如下*/

.icon-issue::before {
    content: '\e670'
}

.icon-articalIcon1::before {
    content: '\e705'
}

.icon-articalIcon2::before {
    content: '\e8b2'
}

.icon-articalIcon3::before {
    content: '\e682'
}

.icon-articalIcon4::before {
    content: '\e6de'
}

.icon-articalIcon5::before {
    content: '\e6b5'
}


/*5个图标  用于 撰写文章 如上*/

.icon-comein::before {
    content: '\e6d6'
}

.icon-wenhao::before {
    content: '\e66d'
}

.icon-wenhaogreen::before {
    content: '\e6d4'
}

.icon-xcedited::before {
    content: '\e60b'
}

.icon-xcpic::before {
    content: '\e64c'
}

.icon-screward::before {
    content: '\e692'
}

.icon-xcup::before {
    content: '\e70c';
}

.icon-xcdown::before {
    content: '\e709';
}

.icon-xcback::before {
    content: '\e8c3';
}

.icon-back::before {
    content: '\e8c2';
}

.icon-notifyTip::before {
    content: '\e65d';
}

.icon-xcRefresh::before {
    content: '\e66b';
}

.icon-interactAttend::before {
    content: '\e66a';
}

.icon-dayHistory::before {
    content: '\e67f';
}

.icon-storeArtical::before {
    content: '\e64d';
}

.icon-shareArtical::before {
    content: '\e64a';
}

.icon-greenCart::before {
    content: '\e654';
}

.icon-favored::before {
    content: '\e645';
}

.icon-favor::before {
    content: '\e64b';
}

.icon-critic::before {
    content: '\e65b';
}

.icon-more::before {
    content: '\e71f';
}

.icon-lajitong::before {
    content: '\e62e';
}

.icon-historyDelete::before {
    content: "\e668";
}

.icon-historyTime::before {
    content: "\e667";
}

.icon-searchDelete::before {
    content: "\e674";
}

.icon-tongyi::before {
    content: "\e616";
}

.icon-searchImage::before {
    content: "\e65a";
}

.icon-icon02::before {
    content: "\e603";
}

.icon-shang-copy::before {
    content: "\e606";
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.icon-notify::before {
    content: "\e63d";
}

.icon-location::before {
    content: "\e619";
}

.icon-jiazaizhong::before {
    content: "\e62d";
}

.icon-jiazaizhong1::before {
    content: "\e637";
}

.icon-bofang::before {
    content: "\e628"
}

.icon-jiazaizhong1 {
    display: inline-block;
    margin-right: 4rpx;
    animation: gogogo 1s linear infinite;
    color: #888
}

@-webkit-keyframes gogogo {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

.icon-home-nav::before {
    content: "\e63b";
}

.icon-biaoqing-copy::before {
    content: "\e612";
}

.icon-share::before {
    content: "\e618";
}

.icon-lianxix::before {
    content: "\e617";
}

.icon-shoucang2::before {
    content: "\e60e";
}

.icon-liaotian::before {
    content: "\e627";
}

.icon-huoche-copy::before {
    content: "\e61e";
}

.icon-sanjiaoxing::before {
    content: "\e634";
}

.icon-chushaixuanxiang::before {
    content: "\e61d";
}

.icon-yonghu1::before {
    content: "\e643";
}

.icon-shouhou::before {
    content: "\e65f";
}

.icon-tianjia1::before {
    content: "\e610";
}

.icon-tishi::before {
    content: "\e738";
}

.icon-tupian1::before {
    content: "\e650";
}

.icon-shoucang::before {
    content: "\e614";
}

.icon-shoucang1::before {
    content: "\e658";
}

.icon-wodexuanzhong::before {
    content: "\e67b";
}

.icon-xuanzhong::before {
    content: "\e632";
    /* color: #999; */
}

.icon-xuanzhonggreen::before {
    content: "\e632";
    color: #28a54c;
}

.icon-jiacu::before {
    content: "\e8c0";
}

.icon-jian1::before {
    content: "\e62f";
}

.icon-xiangyou::before {
    content: "\e6bd";
}

.icon-weixuanzhong::before {
    content: "\e630";
    color: #999;
}

.icon-weixuanzhonggreen::before {
    content: "\e630";
    color: #28a54c;
}

.icon-weibiaoti2fuzhi12::before {
    content: "\e62c";
}

.icon-caidaniconshouyehui::before {
    content: "\e60a";
}

.icon-zuobiao::before {
    content: "\e685";
}

.icon-iconfontzhizuobiaozhun20::before {
    content: "\e613";
}

.icon-guanbi::before {
    content: "\e607";
}

.icon-web-icon-::before {
    content: "\e6c9";
}

.icon-shaixuan::before {
    content: "\e6a6";
}

.icon-share__easyic::before {
    content: "\e601";
}

.icon-xiangxia1::before {
    content: "\e771";
}

.icon-dianpu::before {
    content: "\e736";
}

.icon-qianwang::before {
    content: "\e81d";
}

.icon-edit::before {
    content: "\e68d";
}

.icon-xiangxia::before {
    content: "\e6f4";
}

.icon-tianjia::before {
    content: "\e624";
}

.icon-renyuantianjia::before {
    content: "\e6ea";
}

.icon-jian::before {
    content: "\e623";
}


/*删除*/

.icon-shanchu1::before {
    content: "\e674";
}

.icon-addImg::before {
    content: "\e63a";
}


/*垃圾桶*/

.icon-lajitong::before {
    content: "\e732";
}


/*√字*/

.icon-iconfontcheck::before {
    content: "\e61c";
}


/*向上箭头*/

.icon-xiangshangjiantou::before {
    content: "\e841";
}


/*向下箭头*/

.icon-xiangxiajiantou::before {
    content: "\e840";
}

.icon-guanyuwomen::before {
    content: "\e62a";
}

.icon-dingdan1::before {
    content: "\e608";
}

.icon-lishilajitong::before {
    content: "\e652";
}

.icon-dianpu::before {
    content: "\e736";
}


/*向上*/

.icon-xiangshang::before {
    content: "\e6f3";
}


/* 返回顶部 细的 */


/* .icon-xiangshangxi::before {
    content: "\e81b";
  } */

.icon-xiangshangxi::before {
    content: "\e6f3";
}


/*联系商家*/

.icon-msnui-sms-bubble::before {
    content: "\e6aa";
}


/*认证图标*/

.icon-xingxing::before {
    content: "\e6cc";
}


/* 手机 */

.icon-shouji1::before {
    content: "\e6c7";
}


/* 验证码 */

.icon-yanzhengma::before {
    content: "\e61a";
}


/*评价星星*/

.icon-xingxing1::before {
    content: "\e62b";
}


/*定位*/

.icon-dingwei::before {
    content: "\e609";
}


/*向上*/

.icon-unie624::before {
    content: "\e6e3";
}


/*圆点*/

.icon-yuandianzhong::before {
    content: "\e830";
}


/* 完成 */

.icon-wancheng::before {
    content: "\e66e";
}


/*向上剪头*/

.icon-xiangshangyuanjiantou::before {
    content: "\e626";
}


/*支付宝*/

.icon-zhifubao::before {
    content: "\e665";
}


/*微信*/

.icon-weixin::before {
    content: "\e631";
}


/* 电话 */

.icon-dianhua::before {
    content: "\e605";
}


/*联系我们*/

.icon-lianxiwomen::before {
    content: "\e615";
}


/*密码*/

.icon-mimayaochi::before {
    content: "\e63c";
}


/*客服*/

.icon-kefu::before {
    content: "\e61b";
}


/*购物车*/

.icon-gouwuche::before {
    content: "\e73d";
}


/*商品列表*/

.icon-shangpinliebiao::before {
    content: "\e629";
}


/*商品列表*/

.icon-liebiao::before {
    content: "\e65e";
}

.icon-shijian::after {
    content: "\e675";
}

.icon-shouqi::before {
    content: "\e68c";
}

.icon-shouqi1::before {
    content: "\e68e";
}


/* 语音 */

.icon-yuyin3::before {
    content: "\e639";
}

.icon-yuyin4::before {
    content: "\e602";
}

.icon-touxiang::before {
    content: "\e67c";
}

.icon-feilei::before {
    content: "\e66c";
}